*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Exo 2", sans-serif;
}
p, button{
    font-family: "PT Sans", sans-serif;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}