.search-section {
    padding-bottom: 67px;
}
.search {
    padding: 0 20px;
}
.search__wrapper{
    padding: 40px 102px 56px 60px;
    @include Display($items:center, $space:space-between, $gap:64px);
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
}
.search__content-wrapper {
    @include Display($items:start, $space:start, $gap:0px);
    flex-direction: column;
    width: 336px;
    border-right: 1px solid #D7D7DD;
}
.search__content-wrapper > img {
    margin-bottom: 24px;

}
.search__content{
    @include Display($items:start, $space:start, $gap:16px);
    flex-direction: column;
}
.search__content > h3 {
    margin-bottom: 16px;
    @include TextStyle($FS:20px, $FW:600, $LH:135%, $MB:0px, $CLR:$clr-black);
}
.search__content > p {
    margin-bottom: 16px;
    @include TextStyle($FS:16px, $FW:400, $LH:150%, $MB:0px, $CLR:$clr-textClr);
}

.search__one {
    padding-right: 103px;
}
.search__two {
    padding-right: 121px;
}
.search__three {
    width: 230px;
    border: none;
}
@media(max-width:1050px){
    .search-section {
        padding-bottom: 41px;
    }
    .search__wrapper{
        padding: 0 0 0;
        @include Display($items:center, $space:space-between, $gap:16px);
        flex-direction: column;
        box-shadow: none;
    }
    .search__content-wrapper {
        padding: 32px 0 40px 32px;
        @include Display($items:center, $space:start, $gap:16px);
        width: 100%;
        flex-direction: row;
        border-radius: 20px;
        box-shadow: 0px 4px 20px 0px #00000026;
    }
    .search__content-wrapper > img {
        margin-bottom: 0px;
    }
    .search__content{
        max-width: 394px;
        @include Display($items:start, $space:start, $gap:20px);
        flex-direction: column;
    }
    .search__content > h3 {
        margin-bottom: 0px;
    }
    .search__content > p {
        margin-bottom: 0px;
    }
    .search__one {
        border: none;
    }
    .search__two {
        border: none;
    }
}
@media(max-width:600px){
    .search-section {
        padding-bottom: 34px;
    }
    .search__wrapper{
        padding: 32px 0 40px 32px;
        @include Display($items:center, $space:space-between, $gap:24px);
        flex-direction: column;
        box-shadow: 0px 4px 20px 0px #00000026;
    }
    .search__content-wrapper {
        padding: 0 0 0;
        @include Display($items:start, $space:start, $gap:16px);
        width: 100%;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: none;
    }
    .search__content-wrapper > img {
        width: 68px;
        height: 68px;
    }
    .search__content{
        @include Display($items:start, $space:start, $gap:16px);
        flex-direction: column;
    }
    .search__content > h3 {
        @include TextStyle($FS:18px, $FW:600, $LH:135%, $MB:0px, $CLR:$clr-black);
    }
    .search__content > p {
        @include TextStyle($FS:15px, $FW:400, $LH:150%, $MB:0px, $CLR:$clr-textClr);
    }
}    