.work-section {
    padding-bottom: 80px;
}
.work__wrapper {
    @include Display($items:start, $space:center, $gap:56px);
    flex-direction: column;
}
.work__title-wrapper {
    @include Display($items:start, $space:center, $gap:32px);
    flex-direction: column;
}
.work__title-wrapper > h2{
    @include TextStyle($FS:48px, $FW:600, $LH:125%, $MB:0px, $CLR:$clr-black);
}
.work__title-wrapper > p{
    @include TextStyle($FS:16px, $FW:400, $LH:150%, $MB:0px, $CLR:$clr-textClr);
}
.work__content-wrapper {
    @include Display($items:center, $space:space-between, $gap:30px);
}
.work__content-box {
    @include Display($items:start, $space:space-between, $gap:24px);
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #00000026;
}
.work__content {
    max-width: 291px;
    padding-left: 32px;
    @include Display($items:start, $space:start, $gap:0px);
    flex-direction: column;
}
.work__content-img > img {
    max-width: 100%;
}
.work__content-img2{
    display: none;
}
.work__content > h4{
    @include TextStyle($FS:20px, $FW:600, $LH:135%, $MB:16px, $CLR:$clr-black);
}
.work__content > p{
    @include TextStyle($FS:16px, $FW:400, $LH:150%, $MB:32px, $CLR:$clr-textClr);
}
.work__content > button{
    padding-bottom: 1px;
    @include TextStyle($FS:16px, $FW:600, $LH:135%, $MB:32px, $CLR:$clr-black);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid $clr-btn;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover{
        border-bottom: 3px solid $clr-hover;
    }
}
@media(max-width:1000px){
    .work-section {
        padding-bottom: 44px;
    }
    .work__wrapper {
        @include Display($items:start, $space:center, $gap:40px);
    }
    .work__title-wrapper > h2{
        @include TextStyle($FS:44px, $FW:600, $LH:125%, $MB:0px, $CLR:$clr-black);
    }
    .work__content{
        @include Display($items:start, $space:center, $gap:0px);
    }
    .work__content > h4{
        @include TextStyle($FS:20px, $FW:600, $LH:135%, $MB:16px, $CLR:$clr-black);
    }
    .work__content > p{
        @include TextStyle($FS:16px, $FW:400, $LH:150%, $MB:32px, $CLR:$clr-textClr);
    }
    .work__content > button{
        @include TextStyle($FS:16px, $FW:600, $LH:150%, $MB:40px, $CLR:$clr-black);
    }
    .work__content-wrapper {
        @include Display($items:center, $space:center, $gap:32px);
        flex-direction: column;
    }
    .work__content-img{
        display: none;
    }
    .work__content-img2{
        display: block;
    }
    .work__content-box{
        @include Display($items:start, $space:center, $gap:24px);
    }
    .work__content-three{
        display: none;
    }
}
@media(max-width:650px){
    .work-section {
        padding-bottom: 28px;
    }
    .work__wrapper {
        @include Display($items:start, $space:center, $gap:32px);
    }
    .work__title-wrapper > h2{
        @include TextStyle($FS:28px, $FW:600, $LH:125%, $MB:0px, $CLR:$clr-black);
    }
    .work__title-wrapper > p{
        @include TextStyle($FS:15px, $FW:400, $LH:150%, $MB:0px, $CLR:$clr-textClr);
    }
    .work__content-wrapper {
        margin: 0 auto;
        @include Display($items:center, $space:center, $gap:32px);
        flex-direction: column;
    }
    .work__content > h4{
        @include TextStyle($FS:18px, $FW:600, $LH:135%, $MB:16px, $CLR:$clr-black);
    }
    .work__content > p{
        @include TextStyle($FS:15px, $FW:400, $LH:150%, $MB:32px, $CLR:$clr-textClr);
    }
    .work__content > button{
        @include TextStyle($FS:15px, $FW:600, $LH:150%, $MB:24px, $CLR:$clr-black);
    }
    .work__content-two{
        display: none;
    }
    .work__content-img{
        display: block;
    }
    .work__content-img2{
        display: none;
    }


}